<header class="page_description">
    <h2><%= t 'saphira.general.edit_file' %></h2>
</header>

<div class="filemanager">
  <%= render 'form' %>

  <%= link_to 'Show', @file_item %> |
  <%= link_to 'Back', file_items_path %>
</div>